.content{
	height: 850px;
	width: 600px;
	position: relative;
}

.map{
	height: 450px;
	width: 450px;
	border-radius: 10px;
	position: absolute;
	left: 75px;
	top: 260px;
}

.con-block{
	height: 100px;
	width: 100px;
	border-radius: 10px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	/*包含了数字属性*/
	color: #f9f6f2; /*默认浅色#f9f6f2，深色是#f9f6f2*/
	font-size: 50px;
	text-align: center;
	font-weight: bolder;
	line-height: 100px;
}

#begin{
	height: 50px;
	width: 100px;
	position: absolute;
	top: 126px;
	right: 114px;
	background: #8f7a66;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	line-height: 50px;
	color: #fff;
}